{%load static%}
<footer class="bgDark">
        <div class="container">
            <img src="{% static 'static/images/logo-light.svg'%}" class="logo-brand" alt="logo">
            <ul class="list-inline">
                <li class="list-inline-item footer-menu"><a href="#">Home</a></li>
                <li class="list-inline-item footer-menu"><a href="#">Lista de Productos</a></li>
                <li class="list-inline-item footer-menu"><a href="#">Contact</a></li>
                <li class="list-inline-item footer-menu"><a href="#">Social media</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/instagram.svg'%}" class="img-fluid"></a></li>                            
                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/twitter.svg'%}" class="img-fluid"></a></li>
                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/youtube.svg'%}" class="img-fluid"></a></li>
                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/dribbble.svg'%}" class="img-fluid"></a></li>
                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/facebook.svg'%}" class="img-fluid"></a></li>
            </ul>
            <small>©2020 All Rights Reserved. Created by <a href="https://themesbootstrap.com/" class="font-weight-bold" target="_blank" rel="noopener">Themes Bootstrap</a></small>
        </div>
    </footer>