{%load static%}
<section id="portfolio">
        <div class="container-fluid">
            <div class="content-center">
                <h2>We work with exciting brands to build <b>amazing products.</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia
                    aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
                    nesciunt error ut quidem autem.</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Keep Calm and Eat</h2>
                            </a>
                            <a href="#">
                                <p>— App/Digital Product</p>
                            </a>
                        </div>
                        <img src="{% static 'static/images/concesionario.jpg' %}" class="img-fluid" alt="Portfolio 01">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div>
                            <a href="#">
                                <h2 style='margin-top:20%;color:black;'>TECNOLOGÍA SKYACTIV® DE MAZDA: UN ENFOQUE MÁS INTELIGENTE</h2>
                                <p> Cuando los componentes de un sistema se diseñan para que funcionen 
                                    juntos, ese sistema operará con máxima eficiencia. Esta es la idea 
                                    de la tecnología Skyactiv® de Mazda.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="portfolio-container">
                        <div>
                            <a href="#">
                                <h2 style='margin-top:20%;color:black; text-align:center'>UN ESPACIO ACOGEDOR</h2>
                                <p style='color:black; text-align:center;'> 
                                    El interior de Mazda representa el vínculo inconfundible entre 
                                    el conductor y el auto. Cada detalle está diseñado por expertos, 
                                    cada componente está situado intuitivamente, lo que crea la sensación 
                                    de confort envolvente que hace que cada viaje sea una inspiración.
                                    El interior de Mazda representa el vínculo inconfundible entre 
                                    el conductor y el auto. Cada detalle está diseñado por expertos, 
                                    cada componente está situado intuitivamente, lo que crea la sensación 
                                    de confort envolvente que hace que cada viaje sea una inspiración.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>No Speed Limits</h2>
                            </a>
                            <a href="#">
                                <p>— App/Digital Product</p>
                            </a>
                        </div>
                        <img src="{% static 'static/images/concesionario.jpg' %}" class="img-fluid" alt="Portfolio 04">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>No Speed Limits</h2>
                            </a>
                            <a href="#">
                                <p>— App/Digital Product</p>
                            </a>
                        </div>
                        <img src="{% static 'static/images/mazda_cx-5.jpg' %}" class="img-fluid" alt="Portfolio 04">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>No Speed Limits</h2>
                            </a>
                            <a href="#">
                                <p>— App/Digital Product</p>
                            </a>
                        </div>
                        <img src="{% static 'static/images/cx-9.jpg' %}" class="img-fluid" alt="Portfolio 04">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>No Speed Limits</h2>
                            </a>
                            <a href="#">
                                <p>— App/Digital Product</p>
                            </a>
                        </div>
                        <img src="{% static 'static/images/CX-3.jpg' %}" class="img-fluid" alt="Portfolio 04">
                    </div>
                </div>

            </div>
            <div class="text-center mt-4">
                <p class="">Ready to accelerate your project?</p>
                <a href="#" class="text-dark"><b>Just let us know.</b></a>
            </div>
        </div>
    </section>