{%load static%}
<section id="team" class="bgLightGrey">
        <div class="container">
            <div class="content-center">
                <h2>Keep calm, you're in a <b>good company</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia
                    aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati
                    nesciunt error ut quidem autem.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Michelle B. Rowe</h5>
                            <span>Creative director</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/instagram.svg'%}" class="img-fluid"></a></li>                            
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/twitter.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/youtube.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/dribbble.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/facebook.svg'%}" class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="{% static 'static/images/member-01.jpg'%}" class="img-fluid" alt="member 1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Veronica D. Martin</h5>
                            <span>Lead designer</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/instagram.svg'%}" class="img-fluid"></a></li>                            
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/twitter.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/youtube.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/dribbble.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/facebook.svg'%}" class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="{% static 'static/images/member-01.jpg'%}" class="img-fluid" alt="member 2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Richard A. Hair</h5>
                            <span>Lead developer</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/instagram.svg'%}" class="img-fluid"></a></li>                            
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/twitter.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/youtube.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/dribbble.svg'%}" class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="{% static 'static/images/facebook.svg'%}" class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="{% static 'static/images/member-03.jpg'%}" class="img-fluid" alt="member 3">
                    </div>
                </div>
            </div>
        </div>
    </section>