<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Smart Agency</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{%static 'static/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'static/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{%static 'static/css/app.css' %}">
    <link rel="stylesheet" href="{%static 'static/css/pages/auth.css' %}">
    <link rel="stylesheet" href="{%static 'static/css/login.css' %}">
</head>
<title> Iniciar Sesión </title>
</head>
<body>
    <div id="auth">
            <div class="col-lg-5 col-12">
                {% block content %} {% endblock %}
            </div>
            
    </div>
</body>