<!doctype html>
{% load static %}
<html lang="en"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css'%}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'static/css/styles.css'%}">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600" rel="stylesheet">
    <!-- Ionic icons-->
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'static/images//favicon.png' %}">

    <title>Smart Agency</title>
</head>

<body>
    {% include 'partials/header.html' %}
    {% include 'partials/section_central.html'%}
    {% include 'partials/team.html' %}
    {% include 'partials/contact.html'%}
    {% include 'partials/footer.html'%}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'static/js/jquery.js' %}"></script>
    <script src="{% static 'static/js/popper.min.js'%}"></script>
    <script src="{% static 'static/js/bootstrap.min.js'%}"></script>
</body></html>